<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template">
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Modifier un Developpeur</title>
</head>
<body>
<div layout:fragment="Mycontent">
<div class="container mt-5">
<div class="card">
<div class="card-header">
Modifier Developpeur
</div>
<div class="card-body">
<form th:action="@{saveDeveloppeur}" method="post">
<div class="form-group">
<label class="control-label" hidden>ID Developpeur :</label>
<input type="hidden" name="idDeveloppeur" class="form-control" th:value="${developpeur.idDeveloppeur}" />
</div>
<div class="form-group">
<label class="control-label">Nom Developpeur :</label>
<input type="text" name="nom" class="form-control" th:value="${developpeur.nom}" />
<span th:errors= ${developpeur.nom} class="text-danger"> </span>
</div>
<div class="form-group">
<label class="control-label">Salaire Developpeur :</label>
<input type="text" name="salaire" class="form-control" th:value="${developpeur.salaire}" />
<span th:errors=${developpeur.salaire} class="text-danger"> </span>
</div>
<div class="form-group">
<label class="control-label">date embauche :</label>
<input type="date" name="dateEmbauche" class="form-control" th:value="${developpeur.dateEmbauche}"/>
<span th:errors=${developpeur.dateEmbauche} class="text-danger"> </span>
</div>
<div>
<button type="submit" class="btn btn-primary">Valider</button>
</div>
</form>
</div>
</div>
</div>
</div>
</body>
</html>